* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}
.row {
  display: inline-block;
}
.leftcolumn {
  background-color: rgb(23, 120, 231);
  color: white;
  width: 200px;
  padding: 15px;
  float: left;
  height: 450px;
}
.rightcolumn {
  position: relative;
  background-color: white;
  width: 400px;
  height: 450px;
  margin: auto;
  padding-left: 15px !important;
  float: left;
}
img {
  object-fit: contain;
  position: absolute;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
*::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  padding: 10px;
  margin-bottom: 0;
  padding-bottom: 7px;
  margin: 10px;
  border: none;

  border-bottom: 2px solid dodgerblue;
  width: 90%;
  font-size: medium;
}

input:focus {
  outline: none;
}
input[type="passwrord"]::-ms-reveal,
input[type="passwrord"]::-ms-clear {
  display: block;
  color: black;
  background-color: black;
}

i {
  position: absolute;
  z-index: 2;
  right: 90px;
  padding-top: 18px;
}
.forgot {
  display: inline;
  position: absolute;
  right: 30px;
  padding-top: 20px;
  border: none;
  color: dodgerblue;
  background-color: transparent;
  font-weight: bold;
  z-index: 1;
}
.warn_invalid1,
.warn_invalid2 {
  display: none;
  margin-top: -10px;
  margin-left: 10px;
  position: absolute;
  background-color: lightcoral;
  z-index: 2;
}
.info {
  padding: 10px;
  font-size: small;
  word-wrap: break-word;
  padding-left: 10px;
}

.loginbtn {
  margin: 10px;
  background-color: rgb(255, 119, 7);
  border: none;
  border-radius: 7px;
  padding: 15px;
  width: 92%;
  color: white;
  font-weight: bold;
  box-shadow: 4px 7px 5px black;
}
.requestbtn {
  margin: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid gray;
  border-radius: 7px;
  padding: 15px;
  width: 92%;
  color: black;
  font-weight: bold;
  box-shadow: 4px 7px 5px black;
}
.usepassword {
  margin: 10px;
  background-color: rgb(250, 250, 250);
  border: 1px solid gray;
  border-radius: 7px;
  padding: 15px;
  width: 92%;
  color: black;
  font-weight: bold;
  box-shadow: 4px 7px 5px black;
}
.new-signup {
  display: inline;
  border: none;
  color: dodgerblue;
  background-color: white;
  font-weight: bold;
}

.imgspace {
  margin-bottom: 130px;
}
button:hover {
  cursor: pointer;
}
button:active {
  transform: translateY(3px);
}
#terms {
  color: dodgerblue;
}
#terms_content {
  display: none;
  position: absolute;
  background-color: grey;
  color: #f1f1f1;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  width: 100px;
  z-index: 1;
}
#terms:hover #terms_content {
  display: inline;
}

@media screen and (max-width: 650px) {
  .leftcolumn {
    width: 30%;
    padding: 0;
  }
  .card h1 {
    font-size: smaller;
    padding: 10px 15px;
  }
  p {
    font-size: small;
    padding: 0 15px;
  }
  .imgspace {
    margin-bottom: 170px;
  }
  .img {
    width: 130px;
  }
  .rightcolumn,
  img {
    width: 70%;
    padding: 0;
  }
  #terms_content {
    padding: 10px;
    margin-left: -20px !important;
  }
}
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
